.root {
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 1em;
  color: white;
  background: rgb(42, 44, 128);
  background: linear-gradient(
    93deg,
    rgba(42, 44, 128, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .root {
    cursor: pointer;
    font-size: 2rem;
  }
}
