.root {
  position: absolute;
  top: 58px;
  width: 18rem;
  transform: translateX(-45%);
  background-color: rgb(23, 19, 77);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}
