.root {
  position: absolute;
  top: 58px;
  width: 20rem;
  transform: translateX(-45%);
  background-color: rgb(23, 19, 77);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  overflow: hidden;
}
