.root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.found {
  filter: invert(50%);
  text-decoration: line-through;
}

.item-image {
  width: auto;
  max-height: 4rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .root {
    font-size: 1rem;
  }
  .item-image {
    width: auto;
    max-height: 5rem;
  }
}
