.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 8rem;
}
.easy {
  color: green;
}
.medium {
  color: orange;
}
.hard {
  color: red;
}
