.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5em 0.5em 1.5em;
}
.easy {
  color: rgb(129, 189, 129);
}
.medium {
  color: rgb(226, 187, 113);
}
.hard {
  color: rgb(230, 90, 90);
}
