.root {
  background-color: white;
  border-radius: 2rem;
  width: 22rem;
  height: 24rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
}

.highscores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.scores {
  text-align: center;
  font-size: 0.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 9rem;
}

.name {
  text-transform: uppercase;
  text-align: center;
  width: 3rem;
  margin: 0 0.5rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .root {
    width: 45rem;
    height: 35rem;
  }
  .highscores {
    font-size: 1rem;
  }
  .scores {
    font-size: 1.3rem;
  }
  .form {
    width: 12rem;
  }
}
