.root {
  font-size: 1.5rem;
}

.big {
  font-size: 2rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .root {
    font-size: 2rem;
  }

  .big {
    font-size: 3rem;
  }
}
