.root {
  position: absolute;
  font-size: 0.7rem;
  bottom: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 0.5rem;
  background-color: white;
  border-radius: 0.6rem;
  z-index: 5;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

.author {
  font-size: 0.7rem;
  text-decoration: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .root {
    font-size: 1rem;
    padding: 1rem;
  }
  .author {
    font-size: 1.1rem;
    text-decoration: none;
  }
}
