.root {
  position: fixed;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(14, 12, 49);
  color: rgb(255, 255, 255);
  z-index: 10;
}

.title {
  text-align: center;
  padding: 3rem 0;
}
