.root {
  background-color: white;
  border-radius: 2rem;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
}
