.root {
  background-color: white;
  border-radius: 2rem;
  width: 22rem;
  height: 27rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}

.name {
  font-size: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.preview {
  max-height: auto;
  width: 20rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .root {
    width: 45rem;
    height: 35rem;
    flex-direction: row;
  }
  .name {
    font-size: 1.5rem;
  }
  .preview {
    max-height: auto;
    width: 55rem;
  }
}
