.root {
  background-color: white;
  border-radius: 2rem;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .root {
    width: 40rem;
    height: 40rem;
    flex-direction: row;
  }
}
